// -----------------------------------------
// get our imports out of the way

@import 'colors'
@import 'constants'
@import 'fonts'

@import 'mixins'
@import 'properties'
// @import 'typography'

// @import 'overrides' // overrides theme-specific , e.g. bootstrap


// -----------------------------------------
// html elements

html, body 
    background: $black
    padding: 0
    margin: 0

body
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif
    font-weight: 400
    color: $text_color
    padding-top: 60px
    padding-bottom: 8rem


//a
//    color: $purple
//
//    &:hover
//        color: $dark_orange
//
//    &.inverse
//        background-color: $orange
//        color: $white   
//
//        &:hover
//            background-color: $dark_orange !important
//

h1, h2, h3, h4, h5, h6
    font-weight: 100
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif

h1
    font-size: 3rem
    line-height: 4rem
    max-width: 600px
    text-align: center
    margin: 1rem auto 2rem auto
    font-weight: 100

h2
    font-size: 2.4rem
    line-height: 2.6rem


h2.tagline
    font-size: 3rem
    line-height: 3.6rem
    font-weight: 100
    color: $off_white
    text-transform: uppercase
    max-width: 320px

p
    color: $off_black

    &.copy
        padding-left: 2rem
        padding-right: 2rem
        font-size: 1.8rem
        line-height: 2.9rem
        


// sections

section 
    width: 100%
    clear: both
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-color: #FFF


section.padded
    padding-top: 2rem
    padding-bottom: 2rem


section.uber
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding: 4rem
    background: $off_black


section.banner.main
    position: relative
    min-height: 400px
    overflow: hidden
    background-size: cover
    background-repeat: no-repeat
    color: $white
    padding: 0
    margin: 0
    display: table !important

    .banner-main-inner-wrapper
        display: table-row
        // background: $header_tint
        padding: 4rem 0

    .banner-main-inner-content
        display: table-cell
        vertical-align: middle
        height: 400px

    .content-wrapper
        padding-top: 6rem
        padding-bottom: 6rem


section.banner.main.rdn
    background-image: url('/assets/img/rdn.jpg')


section.divider
    background: $teal
    color: $white
    border-top: 1px solid $light_teal
    border-bottom: 1px solid $light_teal

    a
        color: $white
        &:hover
            text-decoration: underline


section.footer
    background: $black
    padding-top: 1.4rem
    padding-bottom: 3rem


// wrappers

.content-wrapper,
    
    max-width: $max_width
    margin: auto
    padding: 1em

    &.squashed
        padding-top: 0
        padding-bottom: 0

    &.unlimited 
        max-width: 100%
        width: auto

    &.flush
        padding: 0

    &.text
        max-width: 840px
        padding: 4rem 10rem 6rem 10rem

    &.tight
        max-width: 720px

// layout components

.cell-parent
    display: table
    background: tan

.cell-child
    display: table-cell
    vertical-align: middle

.display-table
    display: table
    height: 100%
    width: 100%
    // background: tan

.display-row
    display: table-row
    height: 100%
    // background: $teal

.display-cell
    text-align: center
    display: table-cell
    vertical-align: middle
    // background: $yellow


// components

.inkwell
    width: auto
    padding: 2rem 4rem
    background: $black
    border: 4px solid $black
    margin-bottom: 6rem
    margin-top: 6rem
    position: relative

    &:before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        border: 1px solid $off_white

    h2
        font-size: 3rem
        font-weight: 100
        color: $off_white
        text-transform: uppercase
        line-height: 4rem
        text-align: center


// buttons
 

// images


// lists

.models

    img
        @include black-and-white()

    .image-wrapper
        height: 240px
        overflow: hidden
        background: #202020
        display: block


.social-icons
    @include unstyled-list()  
    color: $white
    font-size: 3rem
    padding: 2rem
    
    li
        color: $white
        display: inline-block
        border: 1px solid $white
        @include border-radius( 50% )
        padding: 0.4rem
        cursor: pointer

        &:hover
            background: $purple
    

.sitemap
    @include unstyled-list()
    text-align: left
    color: $dark_gray
    font-size: 1rem
    font-weight: 400

    a
        color: $dark_gray
        font-weight: 700
        text-decoration: none
        text-transform: uppercase
        text-decoration: none
        transition: all 0.4s ease-in-out

        &:hover
            text-decoration: underline
            color: $off_white


    &.social
        float: right
        font-size: 2.4rem

        li
            display: inline-block

    
    &.legal
        font-weight: 700
        text-transform: uppercase


    &.disclaimers

        li
            transition: all 0.4s ease-in-out

            &:hover
                color: $off_white
            

// horizontal rules

hr.hairline
    background: #CCC
    height: 1px
    border: none
    width: 96%
    margin-left: auto
    margin-right: auto


// default table styles

table

    width: 100%

    tr
        &:nth-child(2n)
            background: #EEE
        &:hover
            background: $light_gray

    td
        padding: 2px


// footer stuff

.copyright
    text-align: center
    color: $gray
    font-size: 0.9rem


// effects

.hover-opacity
    
    &:hover
        @include opacity(64)


// hide from mobile devices

@media screen and (max-width: 499px)

    .hide-from-mobile
        display: none


// only show mobile

@media screen and (min-width: 500px)

    .hide-from-desktop
        display: none

