// -----------------------------------------
// get our imports out of the way

@import 'colors'
@import 'constants'
@import 'fonts'

@import 'mixins'
@import 'properties'
// @import 'typography'

// @import 'overrides' // overrides theme-specific , e.g. bootstrap


// -----------------------------------------
// html elements

html, body 
    background: $black
    padding: 0
    margin: 0
    height: 100%

body
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif
    font-weight: 300
    color: $text_color
    padding-top: 100px
    padding-bottom: 8rem


//a
//    color: $purple
//
//    &:hover
//        color: $dark_orange
//
//    &.inverse
//        background-color: $orange
//        color: $white   
//
//        &:hover
//            background-color: $dark_orange !important
//

h1, h2, h3, h4, h5, h6
    font-weight: 300

h1
    font-size: 3rem
    line-height: 4rem
    max-width: 600px
    text-align: center
    margin: 1rem auto 2rem auto
    font-weight: 100

    &.big
        text-transform: uppercase
        font-size: 3.2rem
        font-weight: 600
        margin-bottom: 4rem

h2,
    font-size: 2.4rem
    line-height: 2.6rem

    &.tagline
        font-size: 3rem
        line-height: 3.6rem
        font-weight: 100
        color: $off_white
        text-transform: uppercase
        max-width: 320px

    &.black
        color: $off_black

h3
    font-weight: 700
    font-size: 2rem

    &.copy
        text-transform: uppercase
        padding-bottom: 1.8rem
        margin-top: 4rem

    &.title
        font-size: 2.3rem
        line-height: 2.6rem
        font-weight: 100
        color: $off_black
        text-transform: uppercase
        margin-bottom: 2rem

p
    color: $off_black

    &.copy
        // padding-left: 2rem
        // padding-right: 2rem
        font-size: 1.8rem
        line-height: 2.7rem


// spans

.strong
    font-weight: 600



// properties

.centered 
    text-align: center


// navigation

.logo
    padding: 4px
    max-width: 100px

    img
        width: 100%


nav
    background: $black
    position: fixed
    top: 0
    width: 100%
    z-index: 100

    .main-menu
        @include unstyled-list()
        float: right

        li
            display: inline-block
            margin: 0.8rem 0.6rem

        a
            font-weight: 700
            font-size: 1.4rem
            text-transform: uppercase
            transition: all 0.4s ease-in-out
            color: $dark_gray
            text-decoration: none

            &:hover
                color: $off_white


// sections

section 
    width: 100%
    clear: both
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-color: #FFF


section.padded
    padding-top: 2rem
    padding-bottom: 2rem


section.banner.main
    position: relative
    min-height: 400px
    overflow: hidden
    background-size: cover
    background-repeat: no-repeat
    color: $white
    padding: 0
    margin: 0
    display: table !important

    .banner-main-inner-wrapper
        display: table-row
        // background: $header_tint
        padding: 4rem 0

    .banner-main-inner-content
        display: table-cell
        vertical-align: middle
        height: 400px

    .content-wrapper
        padding-top: 6rem
        padding-bottom: 6rem

    &.full
        height: 95%


section.banner.rdn
    background-image: url('/assets/img/rdn.jpg')

section.banner.tff
    background-image: url('/assets/img/tff.jpg')

section.banner.product
    background-image: url('/assets/img/about.jpg')

section.banner.landing
    background-image: url('/assets/img/landing.jpg')

section.banner.home
    background-image: url('/assets/img/home.jpg')
    position: relative

    .tagline
        width: 35%

section.uber
    position: absolute
    padding: 0 12%
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: table
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-image: url('/assets/img/landing.jpg')
    border-spacing: 5px
    border-collapse: separate

    @media screen and (max-width: 640px)
        padding: 0 4%


section.divider
    background: $teal
    color: $white
    border-top: 1px solid $light_teal
    border-bottom: 1px solid $light_teal

    a
        color: $white
        text-decoration: none


section.footer
    background: $black
    padding-top: 1.4rem
    padding-bottom: 3rem
    margin-bottom: 8rem


// wrappers

.content-wrapper,
    
    max-width: $max_width
    margin: auto
    padding: 1em

    &.squashed
        padding-top: 0
        padding-bottom: 0

    &.unlimited 
        max-width: 100%
        width: auto

    &.flush
        padding: 0

    &.text
        max-width: 840px
        padding: 3.2rem 10rem 6rem 10rem

    &.tight
        max-width: 720px

// layout components

.cell-parent
    display: table

.cell-child
    display: table-cell
    vertical-align: middle

.display-table
    display: table
    //height: 100%
    width: 100%
    // background: tan

.display-row
    display: table-row
    //height: 100%
    // background: $teal

.display-cell
    display: table-cell
    vertical-align: middle
    // background: $yellow


// components

.center-float
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -88px
    margin-bottom: -15px


.learn-more
    font-size: 1.5rem
    text-transform: uppercase
    color: $off_white
    font-weight: 700
    transition: all 0.3s ease-out

    &:hover
        padding-left: 1rem 
        color: $white


.inkwell
    width: auto
    padding: 2rem 4rem
    background: $black
    border: 4px solid $black
    margin-bottom: 6rem
    margin-top: 6rem
    position: relative

    &:before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        border: 1px solid $off_white

    h2
        font-size: 3rem
        font-weight: 100
        color: $off_white
        text-transform: uppercase
        line-height: 4rem
        text-align: center

    // colorful inkwell
    &.teal
        background: $teal
        border: 4px solid $teal
        cursor: pointer
        transition: all 0.4s ease-in-out

        &:hover
            border: 4px solid $light_teal
            background: $light_teal


.agreement-wrapper
    border-top: 1px solid rgba( 255 , 255 , 255 , 0.4 )


.implicit-agreement
    font-size: 1.1rem

    p
        color: $gray

    a
        color: $gray
        transition: all 0.4s ease-in-out
        font-weight: 600

        &:hover
            color: $white    


// map

.map-wrapper
    width: 100%
    height: 400px
    background: $light_gray
    padding: 0.4rem

#map-canvas
    width: 100%
    height: 100%

.popup-parent
    text-transform: uppercase

    h2
        font-size: 1.6rem
        font-size: 400
        line-height: 1.6rem
        border-bottom: 1px solid $gray
        padding-bottom: 0.6rem

    p
        font-size: 1.2rem
        line-height: 1rem

    // hide the x
    img
        display: none


// modal window

.modal
    background: rgba( 12 , 12 , 12 , 0.6 )


.modal-dialog
    position: relative


.lightbox-close
    padding: 1rem
    float: right
    font-size: 3.2rem
    color: $light_gray
    z-index: 1000
    cursor: pointer
    position: absolute
    right: 0
    top: 0
    transition: all 0.3s ease-in-out

    &:hover
        color: $off_white
        background: $off_black


// buttons

.btn.line
    border: 1px solid $white
    background: none 
    @include border-radius( 0 )
    padding: 1rem
    font-size: 2.4rem
    margin: 0.8rem 1.2rem 1.4rem 0
    color: $white
    text-transform: uppercase
    font-weight: 100
    transition: all 0.4s ease-in-out

    &:hover
        background: $white
        color: $off_black


.checkbox
    color: $light_gray
    font-weight: 100 


// tables

table.locations
    margin: 5rem 0 0 0 


// forms

.block-form
    margin-top: 4rem
    margin-bottom: 5rem

    .form-row
        float: left
        margin: 0.2rem 0 0.5rem 0
        clear: both
        width: 100%

    .input_50
        width: 49.4%
        float: left

        &.right
            float: right

    .input_100
        width: 100% 
        float: left

    .input_50,
    .input_100

        input[type=text],
        input[type=email],
        textarea
            background: #EEE
            color: $off_black
            text-transform: uppercase
            border: none
            @include border-radius( 0 )
            @include grayscale-shadow( 0 , 0 )

        textarea
            min-height: 64px

    button[type=submit]
        background: $black
        color: $white
        width: 49%
        padding: 1rem
        font-size: 1.6rem
        font-weight: 100
        text-transform: uppercase
        @include border-radius( 0 )
        @include grayscale-shadow( 0 , 0 )


// images

.poster
    width: 100%

.centerpiece
    max-width: 256px
    margin: 0 auto
    display: block


// lists

.locations
    @include unstyled-list()
    padding: 2rem
    font-size: 1.7rem

    li
        margin: 0.5rem 0
    
    span
        color: $off_black
    
        &.strong
            font-weight: 600


.social-icons
    @include unstyled-list()  
    color: $white
    font-size: 3rem
    padding: 2rem
    
    li
        color: $white
        display: inline-block
        border: 1px solid $white
        @include border-radius( 50% )
        padding: 0.4rem
        cursor: pointer

        &:hover
            background: $purple
    

.sitemap
    @include unstyled-list()
    text-align: left
    color: $dark_gray
    font-size: 1rem
    font-weight: 400

    a
        color: $dark_gray
        font-weight: 700
        text-decoration: none
        text-transform: uppercase
        text-decoration: none
        transition: all 0.4s ease-in-out

        &:hover
            color: $off_white


    &.social
        float: right
        font-size: 2.4rem

        li
            display: inline-block

    
    &.legal
        font-weight: 700
        text-transform: uppercase


    &.disclaimers

        li
            transition: all 0.4s ease-in-out

            &:hover
                color: $off_white
            

// horizontal rules

hr.hairline
    background: #CCC
    height: 1px
    border: none
    width: 96%
    margin-left: auto
    margin-right: auto


// default table styles

table

    width: 100%

    tr
        transition: all 0.3s ease-in-out

        &:nth-child(2n)
            background: #f9f9f9
        &:hover
            background: $black
            color: $off_white

    td
        padding: 0.4rem


// effects

.hover-opacity
    
    &:hover
        @include opacity(64)


// hide from mobile devices

@media screen and (max-width: 499px)

    .hide-from-mobile
        display: none


// only show mobile

@media screen and (min-width: 500px)

    .hide-from-desktop
        display: none

